In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Paamiut,GL,2022-05-12 17:24:42,61.9940,-49.6678,34.88,97,100,5.39
1,1,Punta Arenas,CL,2022-05-12 17:22:08,-53.1500,-70.9167,46.42,87,75,13.80
2,2,Hobart,AU,2022-05-12 17:24:43,-42.8794,147.3294,49.05,92,54,1.14
3,3,Yellowknife,CA,2022-05-12 17:24:43,62.4560,-114.3525,39.72,70,75,12.66
4,4,Bluff,NZ,2022-05-12 17:24:44,-46.6000,168.3333,49.80,83,100,13.53

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Owensboro,US,2022-05-12 17:23:48,37.7742,-87.1133,87.03,37,0,4.61
8,8,Puerto Ayora,EC,2022-05-12 17:24:46,-0.7393,-90.3518,80.56,88,65,1.99
11,11,Mitu,CO,2022-05-12 17:24:48,1.1983,-70.1733,79.84,89,84,2.46
17,17,Oistins,BB,2022-05-12 17:20:39,13.0667,-59.5333,86.09,62,20,21.85
19,19,Ewa Beach,US,2022-05-12 17:24:53,21.3156,-158.0072,76.59,66,0,10.36
21,21,Kapaa,US,2022-05-12 17:24:54,22.0752,-159.3190,75.52,84,40,14.97
22,22,Itarema,BR,2022-05-12 17:24:55,-2.9248,-39.9167,82.78,80,42,7.09
27,27,Rikitea,PF,2022-05-12 17:24:59,-23.1203,-134.9692,77.56,70,18,19.44
29,29,Kearney,US,2022-05-12 17:24:53,40.6995,-99.0815,88.36,50,0,24.16
30,30,Albany,US,2022-05-12 17:20:59,42.6001,-73.9662,83.43,26,6,3.00

In [12]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
7      Owensboro      US     87.03  37.7742  -87.1133
8   Puerto Ayora      EC     80.56  -0.7393  -90.3518
11          Mitu      CO     79.84   1.1983  -70.1733
17       Oistins      BB     86.09  13.0667  -59.5333
19     Ewa Beach      US     76.59  21.3156 -158.0072
21         Kapaa      US     75.52  22.0752 -159.3190
22       Itarema      BR     82.78  -2.9248  -39.9167
27       Rikitea      PF     77.56 -23.1203 -134.9692
29       Kearney      US     88.36  40.6995  -99.0815
30        Albany      US     83.43  42.6001  -73.9662

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Owensboro,US,87.03,37.7742,-87.1133,Courtyard by Marriott Owensboro
8,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
11,Mitu,CO,79.84,1.1983,-70.1733,
17,Oistins,BB,86.09,13.0667,-59.5333,Butterfly Beach Hotel
19,Ewa Beach,US,76.59,21.3156,-158.0072,Base Lodging
...,...,...,...,...,...,...
541,Waycross,US,79.99,31.2136,-82.3540,Super 8 by Wyndham Waycross GA
542,Sao Felix Do Xingu,BR,89.60,-6.6447,-51.9950,Rio Xingu Camping
544,Matara,LK,78.66,5.9485,80.5353,Amaloh Boutique Resort
546,Gondanglegi,ID,76.28,-7.7479,112.0132,pondok pesantren mamba'ul 'ulum selo rejo
548,Ambon,ID,77.14,-3.6954,128.1814,Swiss-Belhotel Ambon

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))